fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
python-dotenv
redis
aioredis
itsdangerous
pywebpush
requests
beautifulsoup4
slowapi
python-multipart
boto3
fastapi-cache2[redis]
prometheus-fastapi-instrumentator